@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.envor-product-1 figure img {
    float: initial;
    display: block;
    margin: auto;
}

#colorbox {
    z-index: 10010;
}

.envor-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#shipping_method_home_address select, #shipping_method_home_address input{
    margin:5px;
}

span.big {
    background-color: #071;
    border-radius: 100px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    margin: 0px 5px;
    display: inline-block;
}

.shipping_info_receiver p{
    float:left;
    width:25%;
    max-width:100%;
    min-width:200px;
    padding:0 10px 0 0;
}

.shipping_info_receiver p input{
    min-width:initial;
    width:100%;
}

button[type=button] {
    padding: 0px 10px;
    margin-right: 5px;
}

.accountinfo {
    margin:2px;
}

select.accountinfo {
    width:30%;
    min-width:initial;
}

input[type=text], input[type=email], input[type=file], input[type=tel], input[type=url], input[type=password] {
    min-width: 200px;
    background-color: #ddd;
    border: 1px solid #e5e5e5;
    line-height: 250%;
    padding: 0px 10px;
    height: 34px;
    border-radius: 3px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition-style: linear;
    transition-duration: 0.2s;
}

input.accountinfo{
    width: 100%;
}

body {
    color: #777;
}

.envor-post header h3 {
    padding-left: initial;
}

.envor-post .date span.month {
    letter-spacing: initial;
    color: #333;
}

.fa {
    line-height: 40px;
}
.envor-layerslider .envor-layerslider-block h3 {
        font-size: 18px;
}
.envor-layerslider .envor-layerslider-block h2 {
        font-size: 32px;
}
.envor-layerslider .envor-layerslider-block p {
        font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
   color: #666;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
}

::-webkit-input-placeholder { /* webkit, as chrom, opera 15+ */
   color: #999;
}

.envor-estate-form .envor-estate-form-item input[type=number] {
	padding: 0px 10px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid #f00;
	min-width: 100% !important;
	width: 100% !important;
}

input[type=number],
select, textarea {
	min-width: 200px;
	background-color: #ddd;
	border: 1px solid #e5e5e5;
	line-height: 250%;
	padding: 0px 10px;
	height: 34px;
	border-radius: 3px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition-style: linear;
	transition-duration: 0.2s;
}

.envor-post-masonry {
  width:33%;
}

.envor-footer {
    padding: 30px 0px;
}

li.notice_info {
    font-size:1.3em;
}

.riva-countdown {
    text-align: center;
    width: 50%;
    float: right;
}

.envor-header-1 .envor-header-bg .envor-logo img {
    max-height: 55px;
}

.date {
    border: initial;
    padding: initial;
    text-align: initial;
    font-size: 13px;
}

input.zipcode {
    min-width:initial;
    width:30%;
}

/* D3 style */
      .pei-chart {
        height: 360px;
        margin: 0 auto;                                               /* NEW */
        position: relative;
        width: 360px;
      }
      .message {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #333;
        display: none;
        font-size: 12px;
        left: 420px;
        padding: 10px;
        position: relative;
        text-align: center;
        top: -250px;
        width: 320px;
        z-index: 10;
      }
      .legend {
        font-size: 12px;
      }
      rect {
        cursor: pointer;                                              /* NEW */
        stroke-width: 2;
      }
      rect.disabled {                                                 /* NEW */
        fill: transparent !important;                                 /* NEW */
      }                                                               /* NEW */
      h1 {                                                            /* NEW */
        font-size: 14px;                                              /* NEW */
        text-align: center;                                           /* NEW */
      }                                                               /* NEW */

      .label {
        color:#111;
      }

/* Font family */
body, h1, h2, h3, h4, h5, h6, .entry-content, .page-title h1, .page-title h2,
.category-title h1, .newsletter input[type="email"],
div.blog_entry-header-inner h2, .blog_entry footer span,
.product-overview, .std, .footer, .products-list .product-shop p,
label.pages
{
    font-family: 'Noto Sans TC', DIN, Helvetica, Arial, sans-serif;
}

